* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.lift-control-wrapper {
  background-color: #015052;
  width: 880px;
  height: 600px;
  border-radius: 10px;
  padding: 30px 30px;
  display: flex;
  gap: 20px;
}

.lift-wrapper {
  display: flex;
  flex-direction: row;
  align-items: end;
  height: 100%;
  gap: 30px;
}

.lift {
  width: 180px;
  height: 100%;
  background-color: #85d0ff;
  padding: 5px 0 0 0;
  display: flex;
  align-items: end;
  justify-content: center;
}

.lift-item {
  height: 77px;
  width: 70px;
  background-color: #61696a;
  color: white;
  font-weight: 700;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  animation: lift-move 3s ease-in-out forwards;
  transition: transform 3s ease-in-out;
}

.floor-number-wrap {
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.floor-number,
.arrow-up,
.arrow-down {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  border-radius: 50%;
  background-color: #27263c;
  color: white;
}

.arrow-up,
.arrow-down {
  cursor: pointer;
}

.arrow-down:hover,
.arrow-up:hover {
  background-color: #85d0ff;
  transition: 0.3s;
  fill: #27263c;
}

.arrow-down:hover>.arrow-down img {
  fill: #27263c;
}